@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

:root {
    --font-1: "Bebas Neue";
    --font-2: "Heebo";
    --bg-color: rgba(145, 193, 170, 0.75);
    --text-color: #553b3b;
    --text-color2: #585757;
    --bsd-color1: rgba(229, 230, 243, 0.75);
    --bsd-color2: rgba(222, 241, 232, 0.75);
}

body {
    background-color: var(--bg-color);
}

#main {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#oops {
    margin: 0;
    text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 18vw;
    font-family: var(--font-1);
    line-height: 90%;
}

#pnf {
    font-size: 3vw;
    margin: 0;
    font-family: var(--font-2);
    font-style: oblique;
    color: var(--text-color);
}

#text {
    font-size: 2vw;
    font-family: var(--font-2);
    color: var(--text-color2);
    width: 50%;
    text-align: center;
}

#btn {
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 1.5vw;
    padding: 3px;
    color: var(--text-color2);
    background-color: rgb(209, 206, 206);
    box-shadow: 2px 2px 2px 2px var(--bsd-color1), -2px -2px 2px 2px var(--bsd-color1);

}

#btn:hover {
    background-color: rgb(231, 228, 228);
    box-shadow: 2px 2px 2px 2px var(--bsd-color2), -2px -2px 2px 2px var(--bsd-color2);
    font-size: 1.75vw;
}

@media (max-width:640px) {
    #main {
        margin-top: 35%;
    }
    
    #oops {
        font-size: 25vw;
    }

    #pnf {
        font-size: 7vw;
    }

    #text {
        font-size: 5vw;
    }

    #btn {
        font-size: 4vw;
    }

    #btn:hover {
        font-size: 4.25vw;
    }
}
